@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Haas';
    src: url('./assets/NeueHaasUnica-Black.woff2')
}

body  {
    font-family: 'Haas';
    background-color: black;
}

.caption {
    position: absolute;
    bottom: 3vw;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: col;
}

.caption-box {
    font-size: 4.5vw;
    line-height: 4.5vw;
    text-align: center;
    color: #00ff94;
    width: 90%;
    -webkit-text-fill-color: #00ff94; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}